<%= render partial: 'header'%>
        <h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

        <p>Bem vindo a Gestão de Produtos!</p>
        <hr>
        <h6 class="ls-title-5">English disclaimer</h6>
        <p>This is your boilerplate with start structure. You can see <a href="http://locaweb.github.io/locawebstyle/documentacao/exemplos/">completed examples here</a>.</p>
        <p>Check out the docs to <a href="http://locaweb.github.io/locawebstyle/documentacao/componentes/">see the components that you can use</a>.</p>
<%= render partial: 'footer'%>