<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>
<strong><p class="ls-alert-danger"><%= alert %></p></strong>
<strong><p class="ls-alert-success"><%= notice %></p></strong>
<p>Bem-vindo a Gestão de Produtos!</p>
