<h1 class="ls-title-intro ls-ico-month">
  <%= Periodicity.model_name.human(count: 2) %>
</h1>
<h3> Edição</h3>
<p> Altere as informações no formulário abaixo</p><br \>
<%= render partial: 'form', locals: { periodicity: @periodicity } %>
